.login-container{
    background-image: url("../../../../assets/loginbg.jpg");
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    top: 0;
}

.mat-mdc-card{
    max-height: 60vh !important;
    align-items: center;
}