<div class="flex change-password-container">
    <mat-card class="mx-auto mt-2">
      <mat-card-header>
        <mat-card-title>Reset Password</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="max-w-md">
          <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
           
            <div class="mb-4">
              <mat-form-field class="w-full">
                <input matInput type="text" placeholder="New Password" formControlName="password" />
                <mat-error
                  *ngIf="
                    resetPasswordForm.get('password')!.invalid &&
                    resetPasswordForm.get('password')!.touched
                  "
                >
                  Password is required and must be at least 6 characters
                </mat-error>
              </mat-form-field>
            </div>
            <div class="mb-4">
              <mat-form-field class="w-full">
                <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword" />
                <mat-error
                  *ngIf="
                    resetPasswordForm.get('confirmPassword')!.invalid &&
                    resetPasswordForm.get('confirmPassword')!.touched
                  "
                >
                  Passwords do not match
                </mat-error>
              </mat-form-field>
            </div>
            <div class="flex items-center justify-between">
              <button mat-raised-button color="primary" type="submit">
                Reset Password
              </button>
            
            </div>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  